/* Estilos generales */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: 42rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #2a2a2a;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.App h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #f39c12;
  margin-bottom: 1.5rem;
}

.img_cat img {
  width: 34rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(243, 208, 215, 0.5);
  height: 27rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img_cat img:hover {
  transform: scale(1.05);
}

.fact_cat {
  width: 34rem;
  margin: 2rem 0;
  padding: 1rem;
  background-color: #34495e;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.fact_cat p {
  margin: 0;
  font-size: 1.25rem;
  color: #ecf0f1;
}

button {
  width: 20rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: #2c3e50;
  background-color: #f39c12;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

button:active {
  background-color: #d35400;
  transform: scale(1);
}

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #bdc3c7;
}



